body {
    display: flex;
    background-color: #282c34;

    justify-content: center;
    align-items: center;

    height: 90vh;
}

a {
    text-align: center;
    font-size: 22px;
    color: white;
    text-decoration: none;

    padding: 10px 30px;
    
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);

    background: rgb(60, 159, 221);
}